table {
  margin: auto;
  border: 5px solid #000000;
  width: 600px;
  border-spacing: 0;
}
td,
th {
  padding: 0.5em;
  font-family: Verdana, sans-serif;
}
p {
  text-align: center;
  font-family: Verdana, sans-serif;
}
tr:first-of-type {
  background-color: #eaeaea;
}
tr:nth-of-type(even) {
  background-color: #eaeaea;
}
.greenText {
  color: green;
}
.redText {
  color: red;
}
.colorText {
  color: black;
}
